version: '3.8'
services:
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - app
    networks:
      - minha_rede

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minha_app
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:mysecretpassword@postgres:5432/quick
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: myredispassword
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    expose:
      - "3000"
    networks:
      - minha_rede

  postgres:
    image: postgis/postgis:15-3.4
    container_name: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: quick
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - minha_rede

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    command: [ "redis-server", "--requirepass", "myredispassword", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "myredispassword", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - minha_rede

volumes:
  postgres_data:
  redis_data:

networks:
  minha_rede:
    driver: bridge
